@charset "UTF-8";
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "../superslides.css";
@import "mixins";

@import url("//hello.myfonts.net/count/32f517");

  
@font-face {font-family: 'FuturaBTMedium';src: url('fonts/32F517_0_0.eot');src: url('fonts/32F517_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_0_0.woff2') format('woff2'),url('fonts/32F517_0_0.woff') format('woff'),url('fonts/32F517_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FuturaBT-BookItalic';src: url('fonts/32F517_1_0.eot');src: url('fonts/32F517_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_1_0.woff2') format('woff2'),url('fonts/32F517_1_0.woff') format('woff'),url('fonts/32F517_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FuturaBT-Bold';src: url('fonts/32F517_2_0.eot');src: url('fonts/32F517_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_2_0.woff2') format('woff2'),url('fonts/32F517_2_0.woff') format('woff'),url('fonts/32F517_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'FuturaBT-Book';src: url('fonts/32F517_3_0.eot');src: url('fonts/32F517_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_3_0.woff2') format('woff2'),url('fonts/32F517_3_0.woff') format('woff'),url('fonts/32F517_3_0.ttf') format('truetype');}


.container-fluid{
	padding: 56px 0 0;
}
.landing .container-fluid{
	padding: 0 !important;
}

.nav-link{
	color: #FFFFFF;
}

body{
	font-family: 'FuturaBT-Book';
}

.caption-home {
	font-family: 'FuturaBT-Book';
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414042+0,ffffff+100&1+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(65,64,66,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 99;
    font-family: 'FuturaBTMedium';
    font-size: 16px;
    line-height: normal;
    color: #FFF;
    padding: 15px;
    @include medium{
	    padding-right: 25%;
	}
}

.nav-link:hover{
	color: #f38430 !important;
}

.my-nav-link{
	font-size: 16px;
}

.navbar-right{
	margin-left: 41%;
}

@media (min-width: 992px) {
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: .5rem;
  }
}

.navbar-brand{
	margin-left: 15px;
}

.my-nav-link{
	color: #FFF !important;
}

.dropdown-menu{
	background: #414042 !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #f38430 !important;
  text-decoration: none;
  background: rgba(255, 255, 255, 0) !important;
}

header{
	position: absolute;
	width: 100%;
	z-index: 99;
	.navbar{
		background: #414142 !important;
		ul{
			margin-left: auto;
			.dropdown-toggle::after{
				display: none;
			}
		}
	}
}
