//Media Query Mixins
@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin small {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin xs {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin box-shadow{
  -webkit-box-shadow: 2px 2px 5px 0px rgba(65,64,66,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(65,64,66,1);
  box-shadow: 2px 2px 5px 0px rgba(65,64,66,1);
}


//Layout Mixins
@mixin _columns_($xs,$s,$m,$l,$default:12) {
  @include make-col-ready();
  @include make-col($default);
  @include xs {
    @include make-col($xs);
  }
  @include small {
    @include make-col($s);
  }
  @include medium {
    @include make-col($m);
  }
  @include large {
    @include make-col($l);
  }
}
