@charset "UTF-8";
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "../superslides.css";
@import "mixins";

@import url("//hello.myfonts.net/count/32f517");
@font-face {font-family: 'FuturaBTMedium';src: url('fonts/32F517_0_0.eot');src: url('fonts/32F517_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_0_0.woff2') format('woff2'),url('fonts/32F517_0_0.woff') format('woff'),url('fonts/32F517_0_0.ttf') format('truetype');}  
@font-face {font-family: 'FuturaBT-BookItalic';src: url('fonts/32F517_1_0.eot');src: url('fonts/32F517_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_1_0.woff2') format('woff2'),url('fonts/32F517_1_0.woff') format('woff'),url('fonts/32F517_1_0.ttf') format('truetype');}
@font-face {font-family: 'FuturaBT-Bold';src: url('fonts/32F517_2_0.eot');src: url('fonts/32F517_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_2_0.woff2') format('woff2'),url('fonts/32F517_2_0.woff') format('woff'),url('fonts/32F517_2_0.ttf') format('truetype');}
@font-face {font-family: 'FuturaBT-Book';src: url('fonts/32F517_3_0.eot');src: url('fonts/32F517_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_3_0.woff2') format('woff2'),url('fonts/32F517_3_0.woff') format('woff'),url('fonts/32F517_3_0.ttf') format('truetype');}

.color-text{
	color: #f38430;
}

.person-name{
	font-size: 22px !important;
}

.container-fluid{
	padding-top: 56px;
}
.landing, .detail{ 
	.container-fluid{
		padding-top: 0;
	}
}

.nav-link{
	color: #FFFFFF;
	text-transform: uppercase;
}

body{
	font-family: 'FuturaBT-Book';
}

.row{
	@include _columns_(12, 12, 12, 12);
}

.caption-home {
	font-family: 'FuturaBT-Book';
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 99;
    font-family: 'FuturaBTMedium';
    font-size: 16px;
    line-height: normal;
    color: #FFF;
    padding: 15px;
    background: rgba(65,64,66,0.7);
    @include medium{
	    padding-right: 25%;
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414042+0,ffffff+100&1+0,0+100 */
		background: -moz-linear-gradient(left,  rgba(65,64,66,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	}
}

.slides-control{
	left: 0 !important;
}

.caption-project {
	font-family: 'FuturaBT-Book';
	// position: relative !important;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414042+0,ffffff+100&1+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(65,64,66,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	position: absolute;
    bottom: 302px;
    left: 0;
    width: 100%;
    display: block;
    z-index: 99;
    font-family: 'FuturaBTMedium';
    font-size: 16px;
    line-height: normal;
    color: #FFF;
    padding: 15px;
    bottom:0;
    @include medium{
	    padding-right: 25%;
	}
}
.title-project-slider {
	font-family: 'FuturaBT-Book';
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	position: absolute;
    top: 50px;
    padding: 30px;
    font-size: 28px;
    left: 0;
    width: 100%;
    display: block;
    z-index: 99;
    font-family: 'FuturaBTMedium';
    font-size: 16px;
    line-height: normal;
    color: #FFF;
    font-size: 28px;
    @include medium{
	    padding-right: 25%;
	}
}
.nav-link:hover{
	color: #f38430 !important;
}

.my-nav-link{
	font-size: 16px;
}

.navbar-right{
	margin-left: 41%;
}

@media (min-width: 992px) {
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: .5rem;
  }
}

.navbar-brand{
	margin-left: 15px;
	.logolg{
		display: none;
		@include xs{
			display: block;
		}
	}
	.logosm{
		display: block;
		@include xs{
			display: none;
		}
	}
}

.my-nav-link{
	color: #FFF !important;
	letter-spacing: 4px;
}

.dropdown-menu {
    background: #414042!important;
    top: 75%;
    border: none;
    padding-top: 0;
    @include medium{
	    padding-top: 20%;
	}
}

.dropdown-item:focus, .dropdown-item:hover,.dropdown-item.active {
  color: #f38430 !important;
  text-decoration: none;
  background: rgba(255, 255, 255, 0) !important;
}

header{
	position: absolute;
	width: 100%;
	z-index: 99;
	.navbar{
		@include box-shadow;
		background: #414142 !important;
		ul{
			margin-left: auto;
			.dropdown-toggle::after{
				display: none;
			}
		}
	}
}

.main-row{
	@include make-row();
	h1.title{
		@include _columns_(12,12,12,12);
		font-family: 'FuturaBT-Book';
		font-size: 21px;
		padding: 15px;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.left{
		@include _columns_(12,4,4,4);
		margin-bottom: 25px;
		@include small{
			padding-left: 0 !important;
		}
		img{
			float: left;
			max-width: 100%;
			&.img-text{
				@include box-shadow;
			}
		}
	}
	.right{
		@include _columns_(12,8,8,8);
		.pull{
			float: left;
			width: 100%;
			font-family: 'FuturaBT-Book';
			font-size: 22px;
			margin-bottom: 10px;
			color: #f38430;
			line-height: normal;
		}
		.full{
			font-family: 'FuturaBT-Book';
			font-size: 14px;
			float: left;
			width: 100%;
			a{
				font-family: 'FuturaBT-Book';
				font-size: 14px;
				color: #f38430;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
	.team {
		@include _columns_(4, 4, 4, 4);
		flex: 0 0 30%!important;
		width: 30%!important;
		margin-left: 5%;
		margin-top: 2%;
		padding: 0 !important;
		&.left{
			margin-left: 0;
		}
		.contain{
			float: left;
			width: 100%;
			box-shadow: 5px 5px 5px #888888;
			padding: 0px !important;
			img{
				width: 100%;
			}
			.person-name{
				float: left;
				width: 100%;
				text-align: center;
				font-family: 'FuturaBT-Book';
				padding-top: 6px;
				margin: 5px 0;
				@include small{
					font-size: 16px;
				}
			}
		}
	}
	.team-modal {
		@include _columns_(12, 12, 12, 12);
		box-shadow: 5px 5px 5px #888888;
		margin-top: 0px !important;
		margin-top: 30px;
		padding: 0px !important;
		margin-left: 15px;
		img{
			width: 100%;
		}

		@include small{
			margin-left: 0px !important;
		}
	}
	.team:hover {
		color: #f38430!important;
		cursor: pointer;
		text-decoration: none;
	}
	.person-name{
		text-align: center;
		font-family: 'FuturaBT-Book';
		padding-top: 6px;
	}
	.project-name{
		text-align: center;
		font-family: 'FuturaBT-Book';
		padding-top: 6px;
		color: black !important;
	}
	.project-name:hover {
		color: #f38430!important;
		cursor: pointer;
		text-decoration: none;
	}
	.project-details:hover {
		color: #f38430 !important;
		cursor: pointer;
		text-decoration: none;
	}
	.project:hover {
		text-decoration: none;
		color: #f38430 !important;
		cursor: pointer;
	
	}
	.details-project{
		@include make-row();
		width: 100%;
		.description_left{
			@include _columns_(4,4,4,4);

			padding: 40px !important;
		}
		.description_right{
			@include _columns_(8,8,8,8);

			padding: 30px !important;
		}
		.phrase{
			padding-left: 30px;
		}
		.comillas{
		    position: absolute;
		    z-index: -4;
		    margin-top: -32px;
		    margin-left: -20px;
		}
	}

	.name-category{
		@include _columns_(12,12,12,12);
		cursor: pointer;
		margin-top: 20px;
    	margin-bottom: 20px;

    	.separated-name {
		    border-left: 3px solid #414042;
		    font-family: FuturaBT-Book;
		    font-size: 21px;
		    padding: 12px 7px 12px 10px;
		    text-transform: uppercase;
		    margin-bottom: 0;
		    height: 0;
		    display: inline-block;
		    line-height: 6px;
		}

    	.separated-name:hover{
		    color: #f38430;
    	} 
		
		strong:nth-child(1) {
		    border-left: 0px solid #000;
		}

		.active{
			color: #f38430;
		}
	}
	.thumbnails {
		@include make-row();
	    list-style: none;
	    width: 100%;
	    margin: 0 !important;
	    padding: 0;
    	li{
    		&.project {
				@include _columns_(4, 4, 4, 4);
				flex: 0 0 32% !important;
				padding: 0 !important;
				margin-left: 2%;
				margin-bottom: 2%;
				width: 32% !important;
				&.left{
					margin-left: 0;
				}
				a{
					float: left;
					width: 100%;
					box-shadow: 5px 5px 5px #888888;
					img{
						width: 100%;
					}
					.project-name{
						float: left;
						width: 100%;
						text-align: center;
						font-family: 'FuturaBT-Book';
						padding-top: 6px;
						margin: 5px 0;
						font-size: 12px;
						@include small{
							font-size: 16px;
						}
					}
				}
			}
    	}
	}
}

.modal-info{
	@include make-row();

	  background-image: url(bg-image.jpg);

	  -webkit-background-size: 100% 100%;           /* Safari 3.0 */
	     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
	       -o-background-size: 100% 100%;           /* Opera 9.5 */
	          background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
	 
	  -moz-border-image: url(bg-image.jpg) 0;    /* Gecko 1.9.1 (Firefox 3.5) */

	.row{
		padding: 15px;
	}

	.left-modal{
		padding: 0px !important;
		@include _columns_(12,4,4,4);
		p {
			text-align: center;
		}
		.info-personal{
			line-height: 7px;
		}
		.v-card{
			color: #f38430;
			cursor: pointer;
			text-decoration: none;
		}
	}

	.right-modal{
		@include _columns_(12,8,8,8);
		padding: 0px;
		margin-left: 15px;
		@include small {
			margin-left: 0px;
		}
	}

	.section-modal{
		@include _columns_(6,6,6,6);

		.title-section{
			color: #f38430;
			line-height: 0px;
			font-weight: bold;
		}

		ul {
			padding-left: 14px;
		}
	}
}
.more-link,.read-less{
	display:block;
	margin-top: 10px;
}

.row-modal{
	padding: 0px !important;
}
.info-description{
	padding-top: 15px;
}
.btn-close-modal{
	float: right !important;
	border-radius: 100%;
	cursor: pointer;
	border: solid 1px #000;
    padding-right: 8px;
    padding-left: 8px;
    position: fixed;
    z-index: 45;
    margin-left: 95%;
    @include small{
		margin-left: 98%;
	}
}

.modal-body {
	padding-top: 0px !important;
	margin-top: 0px !important;
}
