#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  color: #fff;
  font-size: 28px;
  font-family: arial;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  padding-left: 10px;
}
.slides-navigation a:hover,.slides-navigation a:active,.slides-navigation a:focus {
  color:#fff;
  text-decoration: none;
}
.slides-navigation a.prev {
  left: 10px;
}
.slides-navigation a:hover {
  opacity: 0.7;
}
.slides-navigation a.next {
  right: 10px;
  padding-left: 11px;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  text-align: center;
  width: auto;
  right: 20px;
}
.slides-pagination a {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 15px;
  height: 15px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #a9ad00;
}
.contain_landing .caption {
    /*background: rgba(86,86,90,.75);*/
    background: linear-gradient(to right, #484747 , rgba(72, 71, 71, 0.58));
    bottom: 56px;
    color: #fff;
    display: none;
    font-family:FuturaBT-Book;
    font-size: 22px;
    left: 0px;
    line-height: 20px;
    max-width: 80%;
    padding: 15px;
    position: absolute;
    width: 80%;
}

.nav-link:hover {
    color: #ec971f;
}