@import "../less/bootstrap.less";
@import "bootstrapSwitch.less";
@import "datepicker.less";
@import "timepicker.less";
/*Fonts*/
@font-face {
    font-family: 'CantarellRegular';
    src: url('fonts/Cantarell-Regular-webfont.eot');
    src: url('fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('fonts/Cantarell-Regular-webfont.svg#CantarellRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CantarellOblique';
    src: url('fonts/Cantarell-Oblique-webfont.eot');
    src: url('fonts/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cantarell-Oblique-webfont.woff') format('woff'),
         url('fonts/Cantarell-Oblique-webfont.ttf') format('truetype'),
         url('fonts/Cantarell-Oblique-webfont.svg#CantarellOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CantarellBold';
    src: url('fonts/Cantarell-Bold-webfont.eot');
    src: url('fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cantarell-Bold-webfont.woff') format('woff'),
         url('fonts/Cantarell-Bold-webfont.ttf') format('truetype'),
         url('fonts/Cantarell-Bold-webfont.svg#CantarellBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CantarellBoldOblique';
    src: url('fonts/Cantarell-BoldOblique-webfont.eot');
    src: url('fonts/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Cantarell-BoldOblique-webfont.woff') format('woff'),
         url('fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'),
         url('fonts/Cantarell-BoldOblique-webfont.svg#CantarellBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*
 Main Styles for backend
 * */
@black: #000000;
@gray: #8A8A8D;
@label_color: #A2958A;
@btn_color1: #CFC6CA;
@btn_color2: #A3968A;
@active: #f37321;
/*General styles*/
body{
    font-family:CantarellRegular;
}
img {
    border: 0 none;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}
label{
    color:@label_color;
    margin-bottom:1px;
    .small{
        font-size:10px;
        font-style:italic;
    }
}


/*Other styles*/
.header {
    .row;
    border-bottom: 5px solid @black;
    margin-bottom:35px;
    padding-bottom: 10px;
    padding-top: 20px;
    position: relative;
    .logo {
        .pull-left;
        height: 70px;
    }
    .backend_name {
        color: @gray;
        bottom: 15px;
        font-size: 30px;
        position: absolute;
        right: 0;
    }
    .log_off {
        float: right;
    }
}
/*Content*/
.row_{
    .makeRow();
    margin-left:-40px;
    .left_column{
        .makeColumn(3);
        border-right: 1px dotted @gray;
        min-height:550px;
        .menu{
            .pull-left;
            width:160px;
            li{
                .pull-left;
                width:100%;
                a{
                    border-bottom: 1px dotted @gray;
                    color:@gray;
                    font-size:12px;
                    &.active{
                        color:@active;
                        font-family:CantarellBold;
                    }
                }
                ul{
                    display:none;
                    width:145px;
                }
            }
        }
    }
    .right_column{
        .makeColumn(9);
        .pull-right;
        fieldset{
            .pull-right;
            legend {
                border-bottom: 2px solid #000000;
                font-size: 36px;
                margin-bottom: 30px;
                padding-bottom: 15px;
            }
            label{
                font-size:14px;
            }
            .button{
                .makeColumn(5);
                margin-left:0px;
                margin-top:15px;
                button.submit{
                    .buttonBackground(@btn_color1,@btn_color2);
                }
            }
        }
        .headline{
            border-bottom: 2px solid #000000;
            font-size: 36px;
            margin-bottom: 30px;
            padding-bottom: 15px;
            a{
              .pull-right;
              font-size: 12px;
            }
        }
        .sub_headline{
            border-bottom: 2px solid #000000;
            font-size: 24px;
            margin-bottom: 30px;
            padding-bottom: 15px;
        }
        .description{
            font-size: 12px;
            line-height: normal;
            margin-bottom: 20px;
        }
/*Secciones de la página*/
        .section{
            .pull-left;
            border-bottom: 2px solid #000000;
            margin-bottom: 15px;
            width:100%;
            .section_header{
                .pull-left;
                width:100%;
                .information {
                      
                    .makeColumn(7);
                   // border-bottom: 1px solid;
                    float: left;
                    margin-left:0;
                    .image {
                        .pull-left;
                        height: 45px;
                        margin-right: 15px;
                        width: 40px;
                        margin-bottom:10px;
                        
                    }
                    .name{
                        .pull-left;
                        color:@black;
                        font-size:14px;
                        width:455px;
                    }
                    .description{
                        .pull-left;
                        color:@gray;
                        font-size:11px;
                        //width:285px;
                          width:455px;
                    }
                }
                .edit,.close_ {
                    .pull-right;
                }
                .close_{
                    .hide;
                }
            }
            .section_body{
                .hide;
                .pull-left;
                .makeRow();
                padding-bottom:35px;
                padding-top:20px;
                .small_divider{
                    .makeColumn(5);
                    border-bottom: 1px solid;
                    float: left;
                    height: 1px;
                    margin-bottom: 10px;
                    margin-left: 15px;
                    margin-top: -15px;
                }
                .page_header{
                    .makeColumn(5);
                }
                .page_order{
                    .makeColumn(1);
                    width:100px;
                }
                .page_status{
                    .makeColumn(1);
                    width:100px;
                }
                .inner_row{
                    .makeColumn(9);
                    &.fields_row{
                        margin-left:0px;
                        width:720px;
                        /*Field spacing and arrangement*/
                        .uploadify{
                            float:right;
                        }
                        .remove {
                            float: left;
                            height: 15px;
                            margin-top: 0;
                            width: 15px;
                        }
                        .switch {
                            float: left;
                            height:28px;
                            margin-left: 0;
                            width: 140px;
                        }
                        .span4,.span9{
                            margin-bottom:20px;
                        }
                        input{
                            margin-bottom:0px !important;
                        }
                        label{
                            margin-bottom:1px;
                        }
                        .separator{
                            .makeColumn(9);
                            border-top:1px dashed #000;
                            float: left;
                            font-weight: bold;
                            height:25px;
                            margin-bottom:15px;
                            margin-top: 15px;
                            margin-left: 20px;
                            padding-top: 15px;
                            width:100%;
                        }
                        .save,.save_meta{
                            .pull-right;
                            .btn; 
                            .buttonBackground(@btn_color1,@btn_color2);
                        }
                    }
                    .makeColumn(9);
                    .multiple{
                        margin-bottom:35px;
                    }
                    #page_header{
                        .makeColumn(5);
                        .pull-left;
                        margin-left:0px;
                        width:360px;
                    }
                    #page_order{
                        .makeColumn(1);
                        margin-left:25px;
                        width:80px;
                    }
                    .switch{
                        .makeColumn(1);
                        margin-left:25px;
                        width:80px;
                    }
                    button.submit{
                        margin-top:15px;
                        .pull-right;
                        .btn; 
                        .btn-small;
                        .buttonBackground(@btn_color1,@btn_color2);
                    }
                  /****Images*****************/
                    &.picture_container{
                        margin-top:15px;
                        ul{
                            float: left;
                            list-style: none outside none;
                            margin: 0;
                            padding: 0;
                            li {
                                border: 4px solid @gray;
                                border-radius: 10px 10px 10px 10px;
                                float: left;
                                height: 200px;
                                margin-bottom: 15px;
                                margin-right: 24px;
                                position: relative;
                                width: 200px;
                                img {
                                    left: 0;
                                    position: absolute;
                                    top: 0;
                                }
                                .caption {
                                    background: none repeat scroll 0 0 #000000;
                                    bottom: 0;
                                    color: #FFFFFF;
                                    cursor:pointer;
                                    font-size: 9px;
                                    height: 20px;
                                    left: 0;
                                    line-height: 20px;
                                    padding-left: 5px;
                                    position: absolute;
                                    width: 195px;
                                }
                                a.delete {
                                    height: 20px;
                                    position: absolute;
                                    right: -10px;
                                    top: -10px;
                                    width: 20px;
                                }
                                a.restore {
                                    height: 48px;
                                    position: absolute;
                                    right: -20px;
                                    top: -20px;
                                    width: 48px;
                                }
                                a.drag {
                                    height: 20px;
                                    left: -10px;
                                    position: absolute;
                                    top: -10px;
                                    width: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
button.btn-test{
  .buttonBackground(#CFC6CA,#A3968A);
}
/*El bloqueo de las secciones*/
.blockMsg {
    background-color: #FFFFFF !important;
    border: 3px solid @label_color !important;
    color: @linkColor !important;
    top: 20px !important;
    width: 60% !important;
    z-index: 1011;
}
/*Modal sections*/
.big_caption{
  font-size:10px;
  line-height:normal;
}

/*Dates*/
.date{
    input{
        width:259px;
    }
}
//Char count para el texteditor
.char_count {
    font-size: 12px;
    margin-left: 0;
}


//Estilo de las archivos multiples por field
.section_file {
    float: left;
    width: 100%;
    ul{
        float: left;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        li {
            border: 4px solid @gray;
            border-radius: 10px 10px 10px 10px;
            float: left;
            height: 200px;
            margin-bottom: 15px;
            margin-right: 24px;
            position: relative;
            width: 200px;
            img {
                left: 0;
                position: absolute;
                top: 0;
            }
            .caption {
                background: none repeat scroll 0 0 #000000;
                bottom: 0;
                color: #FFFFFF;
                cursor:pointer;
                font-size: 9px;
                height: 20px;
                left: 0;
                line-height: 20px;
                padding-left: 5px;
                position: absolute;
                width: 195px;
            }
            a.delete {
                height: 20px;
                position: absolute;
                right: -10px;
                top: -10px;
                width: 20px;
            }
            a.restore {
                height: 48px;
                position: absolute;
                right: -20px;
                top: -20px;
                width: 48px;
            }
            a.drag {
                height: 20px;
                left: -10px;
                position: absolute;
                top: -10px;
                width: 20px;
            }
        }
    }
}
//Select classes
select{
    .op1{
        background:#D2322D;
        color:#fff;
    }
    .op2{
        background:#47A447;
        color:#fff;
    }
    .op3{
        background:#39B3D7;
        color:#fff;
    }
}
//Diferencias entre textos
ins{
    .label;
    background-color: @successText;
    text-decoration:none;
    font-weight:normal;
}
del{
    .label;
    background-color: @errorText;
    text-decoration:none;
    font-weight:normal;
}
.files {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
   li {
        float: left;
        font-size: 12px;
        height: 120px;
        line-height: 12px;
        margin-bottom: 5px;
        margin-right: 5px;
        text-align: center;
        width: 100px;
        a {
            float: left;
            height: 100px;
            width: 100%;
        }
        img{
            margin-bottom:5px;
        }
    }
}