//Media Query Mixins
@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 992px) {
    @content;
  }
}
@mixin small {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin xs {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin box-shadow{
  -webkit-box-shadow: 2px 2px 5px 0px rgba(65,64,66,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(65,64,66,1);
  box-shadow: 2px 2px 5px 0px rgba(65,64,66,1);
}


//Layout Mixins
@mixin _columns_($xs,$s,$m,$l,$default:12) {
  @include make-col-ready();
  @include make-col($default);
  @include xs {
    @include make-col($xs);
  }
  @include small {
    @include make-col($s);
  }
  @include medium {
    @include make-col($m);
  }
  @include large {
    @include make-col($l);
  }
}


// @mixin team_style{
//       float: left;
//       width: 28.333%;
//       margin-left: 5%;
//       margin-bottom: 5%;

//       @include large{
//         width: 14.66%;
//         margin-left: 2%;
//         margin-bottom: 2%;
//       }
//       &:nth-child(4){
//           clear: both;
//         }
//       .contain{
//         float: left;
//         width: 100%;
//         box-shadow: 5px 5px 5px #888888;
//         padding: 0px !important;
//         img{
//           width: 100%;
//         }
//         .person-name{
//           float: left;
//           width: 100%;
//           text-align: center;
//           font-family: 'FuturaBT-Book';
//           padding-top: 6px;
//           margin: 5px 0;
//           @include small{
//             font-size: 22px;
//           }
//         }
//       }
    
// }
