@charset "UTF-8";
@import 'node_modules/bootstrap/scss/bootstrap.scss';
// @import "../superslides.css";
@import "mixins";

// @import url("//hello.myfonts.net/count/32f517");
@font-face {font-family: 'FuturaBTMedium';src: url('fonts/32F517_0_0.eot');src: url('fonts/32F517_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_0_0.woff2') format('woff2'),url('fonts/32F517_0_0.woff') format('woff'),url('fonts/32F517_0_0.ttf') format('truetype');}  
@font-face {font-family: 'FuturaBT-BookItalic';src: url('fonts/32F517_1_0.eot');src: url('fonts/32F517_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_1_0.woff2') format('woff2'),url('fonts/32F517_1_0.woff') format('woff'),url('fonts/32F517_1_0.ttf') format('truetype');}
@font-face {font-family: 'FuturaBT-Bold';src: url('fonts/32F517_2_0.eot');src: url('fonts/32F517_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_2_0.woff2') format('woff2'),url('fonts/32F517_2_0.woff') format('woff'),url('fonts/32F517_2_0.ttf') format('truetype');}
@font-face {font-family: 'FuturaBT-Book';src: url('fonts/32F517_3_0.eot');src: url('fonts/32F517_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/32F517_3_0.woff2') format('woff2'),url('fonts/32F517_3_0.woff') format('woff'),url('fonts/32F517_3_0.ttf') format('truetype');}

.color-text{
	color: #f38430;
}

.container-fluid{
	padding-top: 56px;
}
.landing, .detail{ 
	.container-fluid{
		padding-top: 0;
	}
}

.nav-link{
	color: #FFFFFF;
	text-transform: uppercase;
	padding-right:1.0rem !important;
}

body{
	font-family: 'FuturaBT-Book';
	color:#414042;
}

.row{
	@include _columns_(12, 12, 12, 12);
}

.caption-home {
	font-family: 'FuturaBT-Book';
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    z-index: 99;
    font-family: 'FuturaBTMedium';
    font-size: 16px;
    line-height: normal;
    color: #FFF;
    padding: 15px;
    padding-right: 34% !important;
    background: rgba(65,64,66,0.7);
    @include medium{
	    padding-right: 25%;
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414042+0,ffffff+100&1+0,0+100 */
		background: -moz-linear-gradient(left,  rgba(65,64,66,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	}
}

.slides-control{
	left: 0 !important;
}

.caption-project {
	font-family: 'FuturaBT-Book';
	position: absolute;
    bottom: 302px;
    left: 0;
    width: 100%;
    display: block;
    z-index: 12;
    font-family: 'FuturaBTMedium';
    font-size: 16px;
    line-height: normal;
    color: #FFF;
    padding: 15px;
    padding-right: 34% !important;
    bottom:0;
    background: rgba(65,64,66,0.7);
    @include medium{
	    padding-right: 25%;
	    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#414042+0,ffffff+100&1+0,0+100 */
		background: -moz-linear-gradient(left,  rgba(65,64,66,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(65,64,66,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414042', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	}
}
.title-project-slider {
	font-family: 'FuturaBT-Book';
	text-shadow: 1px 1px 5px rgba(65, 64, 66, 1);
	position: absolute;
    top: 50px;
    padding: 30px;
    font-size: 28px;
    left: 0;
    width: 100%;
    display: block;
    z-index: 99;
    font-family: 'FuturaBTMedium';
    font-size: 16px;
    line-height: normal;
    color: #FFF;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 15;
    @include medium{
	    padding-right: 25%;
	}
}
.nav-link:hover{
	color: #f38430 !important;
}

.my-nav-link{
	font-size: 16px;
}

.navbar-right{
	margin-left: 41%;
}

@media (min-width: 992px) {
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: .5rem;
  }
}

.navbar-nav{
	margin-top: 25px;
	@include medium{
		margin-top: 0;
	}
	li{
		&:hover{
			.dropdown-menu{
				display: block; 
			}
		}
	}
}

.navbar-brand{
	margin-left: 15px;
	.logolg{
		display: none;
		@include xs{
			display: block;
		}
	}
	.logosm{
		display: block;
		@include xs{
			display: none;
		}
	}
}

.my-nav-link{
	color: #FFF !important;
	letter-spacing: 4px;
}

.dropdown-menu {
    background: #414042!important;
    top: 75%;
    border: none;
    padding-top: 0;
    left: 0;
    @include medium{
	    padding-top: 10%;
	    left: -15px;
	}
}
.dropdown-item{
	letter-spacing: 0px;
}
.dropdown-item:focus, .dropdown-item:hover,.dropdown-item.active {
  color: #f38430 !important;
  text-decoration: none;
  background: rgba(255, 255, 255, 0) !important;
}

header{
	// position: absolute;
	position: fixed;
	width: 100%;
	z-index: 99;
	.navbar{
		@include box-shadow;
		background: #414142 !important;
		ul{
			margin-left: auto;
			.dropdown-toggle::after{
				display: none;
			}
		}
	}
	.navbar-toggler {
	    font-size: 16px;
	    color: #fff;
	    padding: 5px;
	}
}

.team {
	.main-row{
		display: block;
	}
}
.main-row{
	@include make-row();
	h1.title{
		@include _columns_(12,12,12,12);
		font-family: 'FuturaBT-Book';
		text-transform: uppercase;
		margin-bottom: 0;
		letter-spacing: 4px;
		line-height: 25px;
		font-size: 16px;
		padding: 15px;
		@include xs{
			font-size: 21px;
			padding: 20px 30px;
		}
	}
	h1.title_project{
		@include _columns_(12,12,12,12);
		font-family: 'FuturaBT-Book';
		text-transform: uppercase;
		margin-bottom: 0;
		padding: 15px;
		line-height: normal;
		font-size: 12px;
		letter-spacing: 1px;
		@include xs{
			letter-spacing: 4px;
			font-size: 18px;
			padding: 20px 30px;
		}
		span{
			&:hover,&.active{
			    color: #f38430 !important;
			    cursor: pointer;
			} 
		}
	}
	.left{
		@include _columns_(12,4,4,4);
		margin-bottom: 25px;
		display: none;
		@include small{
			padding-left: 0 !important;
			display: block;
		}
		img{
			float: left;
			max-width: 100%;
			&.img-text{
				@include box-shadow;
			}
		}
	}
	.right{
		@include _columns_(12,8,8,8);
		.pull{
			float: left;
			width: 100%;
			font-family: 'FuturaBT-Book';
			font-size: 22px;
			margin-bottom: 10px;
			color: #f38430;
			line-height: normal;
		}
		.full{
			font-family: 'FuturaBT-Book';
			font-size: 14px;
			float: left;
			width: 100%;
			a{
				font-family: 'FuturaBT-Book';
				font-size: 14px;
				color: #f38430;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
	.boxes {
		width: 100%;
		.project-style{
			float: left;
			width: 45%;
			margin-left: 5%;
			margin-bottom: 5%;
			@include xs{
				width: 28.333%;
				margin-left: 5%;
				margin-bottom: 5%;
			}
			@media (min-width: 1500px) {
				width: 14.66%;
				margin-left: 2%;
				margin-bottom: 2%;
			}
			.contain{
				float: left;
				width: 100%;
				box-shadow: 5px 5px 5px #888888;
				padding: 0px !important;
				img{
					width: 100%;
				}
				.person-name{
					float: left;
					width: 100%;
					text-align: center;
					font-family: 'FuturaBT-Book';
					padding-top: 10px;
					margin: 0;
					color: #414042;
					font-size: 11px;
					@include xs{
						font-size: 13px;
					}
					@include medium{
						font-size: 22px;
					}
					@include large{
						font-size: 15px;
					}
					&:hover{
						color: #f38430;
					}
				}
			}
		}
	}
	.team-container{
		margin-top: 2%;
		.team {
			float: left;
			width: 45%;
			margin-left: 5%;
			margin-bottom: 5%;
			@include xs{
				width: 28.333%;
				margin-left: 5%;
				margin-bottom: 5%;
				&:nth-child(7){
			    	clear: both;
			    }
			}
			@media (min-width: 1500px) {
				width: 14.66%;
				margin-left: 2%;
				margin-bottom: 2%;
			}
			.contain{
				float: left;
				width: 100%;
				box-shadow: 5px 5px 5px #888888;
				padding: 0px !important;
				img{
					width: 100%;
				}
				.person-name{
					float: left;
					width: 100%;
					text-align: center;
					font-family: 'FuturaBT-Book';
					padding-top: 10px;
					margin: 0;
					color: #414042;
					font-size: 11px;
					@include xs{
						font-size: 13px;
					}
					@include medium{
						font-size: 22px;
					}
					@include large{
						font-size: 15px;
					}
					&:hover{
						color: #f38430;
					}
				}
			}
		}
		.team-modal {
			@include _columns_(12, 12, 12, 12);
			@include box-shadow;
			margin-top: 0px !important;
			margin-top: 30px;
			padding: 0 !important;
			display: inline-block;
			margin-left: 0px;
			img{
				width: 100%;
			}
		}
		.team:hover {
			color: #f38430!important;
			cursor: pointer;
			text-decoration: none;
		}
	}
	.person-name{
		float: left;
		width: 100%;
		text-align: center;
		font-family: 'FuturaBT-Book';
		padding-top: 10px;
		margin: 0;
		color: #414042;
		font-size: 11px;
		@include xs{
			font-size: 13px;
		}
		@include medium{
			font-size: 22px;
		}
		@include large{
			font-size: 15px;
		}
		&:hover{
			color: #f38430;
		}
	}
	.project-details:hover {
		color: #f38430 !important;
		cursor: pointer;
		text-decoration: none;
	}
	.project:hover {
		text-decoration: none;
		color: #f38430 !important;
		cursor: pointer;
	
	}
	.details-project{
		@include make-row();
		width: 100%;
		.description_left{
			@include _columns_(4,4,4,4);
			padding: 40px !important;
			p{
				margin-bottom: 5px;
			}
			h4{
				margin-bottom: 15px;
				@include small{
					margin-bottom: 25px;
				}
			}
		}
		.description_right{
			@include _columns_(8,8,8,8);
			padding: 30px !important;
			h3{
				text-transform: uppercase;
			}
		}
		.phrase{
			padding-left: 30px;
			position: relative;
			.quote,.quote p{
				font-family: FuturaBT-BookItalic;
				font-size: 18px;
				line-height: normal;
				float: left;
				width: 100%;
				margin-bottom: 10px;
			}
			.quoter{
				font-family: FuturaBT-Book;
				font-size: 13px;
				float: left;
				width: 100%;
			}
			.comillas{
			    position: absolute;
			    z-index: -4;
			    top: -35px;
				left: 10px;
			}
		}
	}

	.name-category{
		@include _columns_(12,12,12,12);
		cursor: pointer;
    	margin-bottom: 20px;
		font-weight: normal;
    	.separated-name {
		    border-left: 3px solid #414042;
		    font-family: FuturaBT-Book;
		    font-size: 21px;
		    padding: 12px 7px 12px 10px;
		    text-transform: uppercase;
		    margin-bottom: 0;
		    height: 0;
		    display: inline-block;
		    line-height: 6px;
		    &:nth-child(1){
		    	border: none;
		    }
		    &:hover,&.active{
			    color: #f38430 !important;
			    cursor: pointer;
			} 
		}
		
		strong:nth-child(1) {
		    border-left: 0px solid #000;
		}

		.active{
			color: #f38430;
		}
	}
	.thumbnails {
		@include make-row();
	    list-style: none;
	    width: 100%;
	    margin: 0 !important;
	    padding: 0;
	    justify-content: space-between;
    	li{
    		&.project {
				@include _columns_(4, 4, 4, 4);
				padding: 0 !important;
				margin-bottom: 2%;
				flex: 0 0 32% !important;
				width: 32% !important;
				a{
					float: left;
					width: 100%;
					box-shadow: 5px 5px 5px #888888;
					img{
						width: 100%;
					}
					&:hover{
						.project-name {
							color: #f38430!important;
							cursor: pointer;
							text-decoration: none;
						}
					}
					.project-name{
						color: #414042 !important;
						float: left;
						width: 100%;
						text-align: center;
						font-family: 'FuturaBT-Book';
						padding-top: 6px;
						margin: 5px 0;
						@include small{
							font-size: 22px;
						}
						&:hover {
							color: #f38430!important;
							cursor: pointer;
							text-decoration: none;
						}
					}
				}
				@include large{
					flex: 0 0 16% !important;
					width: 16% !important;
				}
			}
    	}
	}
	.row-contact{
	    margin-top: 65px;
	    padding-right: 0;
	    @include small{
	    	padding-right: 15px;
	    }
		.map {
			@include _columns_(12, 4, 4, 4);
			margin-bottom: 5%;
			padding-left: 15px !important;
    		padding-right: 0 !important;
			@include small{
				padding-left:0px !important;
				padding-right: 15px;
			}
			img{
				width: 100%;
			}
		}
		.where-info,.career {
			@include _columns_(12, 4, 4, 4);
			margin-top: -4px;
			margin-bottom: 5%;
			color: #414042;
			.title{
				font-family: FuturaBTMedium;
				font-size: 16px;
			}
			.content{
				font-family: FuturaBT-Book;
				font-size: 14px;
			}
			a{
				color: #414042;
				text-decoration: none;
				&:hover{
					color: #f38430;
				}
			}
			strong{
				font-weight: normal;
				font-family: FuturaBT-Bold;
			}
		}
	}
}

.modal-info{
	float: left;
	width: 100%;
	.row{
		padding: 15px;
	}

	.left-modal{
		float:left;
		width: 100%;
		margin-left: 10%;
		@include xs{
			margin-left: 0;
		}
		p {
			text-align: center;
			float: left;
			width: 100%;
			margin-bottom: 5px;
		}
		.info-personal{
			float: left;
			width: 100%;
			color: #414042;
			text-align: center;
			&:hover{
				color: #f38430;
				text-decoration: none;
			}
		}
		.v-card{
			color: #f38430;
			cursor: pointer;
			text-decoration: none;
			float: left;
			width: 100%;
		}
	}

	.right-modal{
		float: left;
		width: 100%;
		padding: 0px 0 0 25px;
	}

	.section-modal{
		@include _columns_(6,6,6,6);

		.title-section{
			color: #f38430;
			line-height: 0px;
			font-weight: bold;
		}

		ul {
			padding-left: 14px;
		}
	}
}
.more-link,.read-less{
	display:block;
	margin-top: 10px;
}

.row-modal{
	padding: 0px !important;
}
.info-description{
	padding-top: 15px;
}
.btn-close-modal{
	cursor: pointer;
    position: absolute;
    right: 25px;
    top: 10px;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    z-index: 9;
    img{
    	width: 100%;
    }
}

.title-column {
	font-size: 16px !important;
	font-family: 'FuturaBTMedium';
}

.description-column {
	font-size: 14px !important;
	font-family: 'FuturaBT-Book';
}

.modal-body {
	padding-top: 0px !important;
	margin-top: 0px !important;
}

.modal-dialog{
	margin-top:10%;
	@include small{
		margin-top:6%;
	}
}

.read {
	color: #f38430;
	margin-top: 10px;
	font-size: 18px;
	text-decoration: none;
}

.read:hover {
	color: orange;
	text-decoration: none;
}




//Prueba

section {
    width: 100%;
    &.content {
        background: yellow;
        height: 40vh;
    }
    &.sort-section {
        padding: 0px;
        // transition: height 1s ease-in-out;
        .tag-container {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
        }
        button {
            outline: none;
            background: whitesmoke;
            border: none;
            padding: 1% 2%;
            margin: 0 1%;
            text-transform: uppercase;
            &.selected {
                background: chartreuse;
            }
        }
        .boxes {
        	// width: 100% !important;
        	@include _columns_(12, 12, 12, 12);
        	width: 100% !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
        }
    }
}

//Read more
.read{
	text-transform: uppercase;
}

//Hack para el slider background.
.mc-image {
	background-size: cover;
	background-position: center top;
}	

//Circles del slider
.circles {
    position: absolute;
    z-index: 15;
    right: 2%;
    bottom: 2%;
    a {
	    width: 10px;
	    height: 10px;
	    background: rgba(255,255,255,0.5);
	    border-radius: 100%;
	    color: rgba(65,64,66,1); 
	    margin-right: 5px;
	    display: inline-block;
	    font-size: 0px;
	    &.activeSlide{
	    	background: rgba(255,255,255,1);
	    }
	}
}