@import "bootstrap.less";
@import "bootswatch.less"; 
body{
	background:#fff; 	
}
.main_container{
	background:#fff;
	margin-top:50px;
}
.login_fieldset {
    margin: 20px;
    width: 560px;
}
.button{
	margin-left:0px;
} 
.request_user{
    font-size: 10px;
    margin-left: 0;
    margin-top: 10px;
}
.content_container{
	 margin-top:25px;
} 
.button_margin{
	margin-top:15px; 
}

/*Home page*/
.description {
    border-bottom: 3px solid #000000; 
    font-size: 11px;
    padding-bottom: 20px;
}
.description2 {
    font-size: 11px;
    padding-bottom: 20px;
}
.login{
	font-size:14px;
}
.login_fieldset_home {
    width: 560px;
}
/*Content*/
.content_title_label,.content_order_label{
	margin-left:0px;
}
.content_title {
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}
.content_description {
    border-bottom: 3px solid #000000;
    font-size: 11px;
    padding-bottom: 20px;
    padding-top: 10px; 
}
.field_section {
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 40px;
}
.second_section{
	margin-top:5px;
	border-top: 2px solid #000;
}
.no_show{
	display:none;
}
.clear_file{
	cursor:pointer;
}
.active{
	font-weight:bold;
	color:@linkColorHover;
}
.log_off{
	float:right;
}
.field_margin{
	margin-bottom:15px;
}
.fields_separator { 
    border-bottom: 1px dashed #000000;
    margin: 10px 0;
}

/*Hackcs for some fields*/
#Description,#Keywords{
	height:150px; 
}
.text_editor_margin{
	margin-bottom:30px;
	margin-top:10px;
}
.center_text{
	text-align:center;
}
.nav-list{
	padding-right:0px;
}
/*Escondemos el menu*/
.menu ul{
	display:none;
}
